POSTGRES_USER=sgaf
POSTGRES_PASSWORD=changeme
POSTGRES_DB_MAIN=sgaf_main
POSTGRES_DB_AUDIT=sgaf_audit
POSTGRES_DSN=postgres://sgaf:changeme@postgres:5432/sgaf_main
JWT_SECRET=replace_with_at_least_32_characters_long_secret_value
REDIS_URL=redis://redis:6379

MS_AUTH_PORT=8080
MS_USUARIOS_PORT=8081
MS_TRAMITES_PORT=8082
MS_INTEGRACIONES_PORT=8083
MS_REPORTES_PORT=8084
MS_AUDITORIA_PORT=8085

TRAEFIK_DASHBOARD_AUTH=admin:password
ENVIRONMENT=development
